<h2>Washington DC</h2>

 <section>
    <h4>Humidity: {{humidity}}</h4>
    <h4>Temperature: (Average): {{temp}}</h4>
    <h4>Temperature: (High): {{maxTemp}}</h4>
    <h4>Temperature: (Low): {{minTemp}}</h4>
    <h4>Status: {{clouds}}</h4>
  </section>

<img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1452123358000/photosp/a202e448-7aa9-42c0-8878-9cc03cbebb9b/stock-photo-monument-washington-dc-jr-martin-luther-king-a202e448-7aa9-42c0-8878-9cc03cbebb9b.jpg" alt="">

